@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffffff;
  background: #000D1F;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #001532;
}

::-webkit-scrollbar-thumb {
  background: #002050;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #003070;
}
